<!DOCTYPE html>
html(lang=language)
  head
    link(rel="shortcut icon" href="favicon.png" type="image/x-icon" )
    meta(charset="UTF-8")
    title!=page_title
    link(href="index.css", rel="stylesheet")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
  body
    div(class=language+"-version").container
      .languages.screen-only
        a(href="index.html") 中文
        =" "
        a(href="index-en.html") English
      .header
        .left
          -var school = bio_data.education.schools[0];
          h1.name #{name} 
          p #{bio_data.gender} #{new Date().getFullYear()-bio_data.birth_year} | #{bio_data.tag}
            if(language ==="en")
              =" "
              span with degree of #{school.degree}
            endif
          p #{school.institution}·#{school.major}
        .right
          h2.role=apply_for
          p
            a(href="//"+bio_data.website target="_blank") #{bio_data.website}
              i.i-home
          p 
            a(href="//"+bio_data.blog target="_blank") #{bio_data.blog}
              i.i-blog
          p #{bio_data.phone}
            i.i-phone 
          p 
            a(href="mailto:"+bio_data.email) #{bio_data.email}
              i.i-email 
      .project.box
        .title 
          h2=vocabulary.project_experience
        ul.content.projects
          each project in bio_data.experience.items
            li
              h3 #{project.from} - #{project.to} <br>
                span.h3 #{project.title}
              ul.details.song 
                each detail in project.details
                  li
                    p!=detail
      .skill.box
        .title 
          h2=vocabulary.skill
        .content.song
          ul.skill-list
              each skill in bio_data.skills.frontEnd
                li!= skill  
              each skill in bio_data.skills.backEnd
                li!= skill  

      if(language =="en") 
        .award.box
          .title 
            h2= vocabulary.acad_achievements
          .content.song
          each award in bio_data.acad_achievements.items
            p.song=award
      .judge.box
        .title 
          h2= vocabulary.summary
        .content.song
          p
          each point in bio_data.summary.points
            =point
        
      .download.screen-only
        a(href='./resume.pdf' download="【前端】简历-陶楷-2018本科应届.pdf") 下载中文简历
        = ' '
        a(href='./resume-en.pdf' download="[Resume]taokai-front-End-2018-graduated-bachelor.pdf") Download Resume
    .last-update
      p - Last Modified: 2017/05/22 -
    script.
      if('serviceWorker' in navigator){
        if(window.location.host === "localhost:9002"){
          
        }else{
          navigator.serviceWorker.register('./sw2.js');
          navigator.serviceWorker.ready.then(function(re){
          re.active.onmessage = (e)=>{
            console.log("active");
          }
          navigator.serviceWorker.controller.onmessage = function (e){
            console.log(e);
          }
          console.log(navigator.serviceWorker.controller === re.active);
        });
        }
        
      }
      
    
